<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

<div id="app">
    <p>{{ title }}</p>
    <hr>
    <app-user></app-user>
    <app-user></app-user>
</div>


<script>
    Vue.component('app-user', {
        data: function() {
            return {
                users: [
                    {username: 'Vue'},
                    {username: 'WordPress'},
                    {username: 'Flutter'}
                ]
            };
        },
        template: '<div><div class="user" v-for="user in users"><p>Username: {{ user.username }}</p></div></div>'
    });
    new Vue({
        el: '#app',
        data: {
            title: 'Hello World!',
        }
    });
</script>